<!-- main-area -->
<main>

  <!-- breadcrumb-area -->
  <section class="breadcrumb-area breadcrumb-bg" data-background="assets/img/bg/breadcrumb_bg.jpg" style="background-image: url('assets/img/bg/breadcrumb_bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb-content text-center">
            <h2>Contact Us</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- contact-area -->
  <section class="contact-area primary-bg pt-100 pb-70">
    <div class="container">
      <div class="contact-wrap-padding">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="contact-info-box text-center mb-30">
              <div class="contact-box-icon">
                <i class="flaticon-placeholder"></i>
              </div>
              <div class="contact-info-content">
                <h5>Our Location</h5>
                <p>W898 RTower Stat, Suite 56 Maadi, Cairo, Egypt</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="contact-info-box text-center mb-30">
              <div class="contact-box-icon">
                <i class="flaticon-mail"></i>
              </div>
              <div class="contact-info-content">
                <h5>Our Email</h5>
                <p>Email Us: MedicaZone.Support@info.Com</p>
<!--                <p>Vanamsupport.com</p>-->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="contact-info-box text-center mb-30">
              <div class="contact-box-icon">
                <i class="flaticon-telephone"></i>
              </div>
              <div class="contact-info-content">
                <h5>Phone Number</h5>
                <p>Contacr Numbers: 458-965-3224</p>
                <p>458-965-3224</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact-area-end -->

  <!-- contact-area -->
  <section class="contact-area pt-100 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-9">
          <div class="contact-title text-center mb-60">
            <div class="section-title text-center">
              <span class="sub-title">LET’S TALK</span>
              <h2 class="title">Send Us a Massage</h2>
            </div>
            <p>We are always happy to talk with you. Be sure to write to us if you have any
              questions or need help and support.</p>
          </div>
        </div>
      </div>
      <div class="contact-wrap-padding">
        <div class="row">
          <div class="col-lg-6">
            <div class="contact-form">
              <form action="#">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-grp">
                      <input type="text" placeholder="First Name*">
                      <i class="far fa-user"></i>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-grp">
                      <input type="text" placeholder="Last Name*">
                      <i class="far fa-user"></i>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-grp">
                      <input type="email" required placeholder="Your Email*">
                      <i class="far fa-envelope"></i>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-grp">
                      <input type="text" placeholder="Phone*">
                      <i class="fas fa-mobile-alt"></i>
                    </div>
                  </div>
                </div>
                <textarea name="message" id="message" placeholder="Enter Your Massage"></textarea>
                <button type="submit" class="btn">submit</button>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-map">
              <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d839.4877138381707!2d31.28245367681884!3d29.982487532129344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458388b7564400d%3A0xab2578ea95e6631f!2sModern%20Academy%20-%20Computer%20Science!5e1!3m2!1sen!2seg!4v1648827966516!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!--              <img src="assets/img/images/map.jpg" alt="">-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact-area-end -->

  <!-- limited-offer-area -->
  <section class="limited-offer-area" data-background="assets/img/bg/limited_offer_bg.jpg" style="background-image:url('assets/img/bg/limited_offer_bg.jpg')">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-5 col-lg-6 col-md-7">
          <div class="limited-offer-left">
            <div class="limited-offer-title">
              <span class="sub-title">exclusive offer</span>
              <h2 class="title">Smart Watch Bracelet</h2>
            </div>
            <div class="limited-offer-disc">
              <img src="assets/img/images/limited_offer_discount.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="limited-offer-action">
            <a href="#" class="btn">limited time offer</a>
            <div class="amount-info">
              <span class="upto">UPTO</span>
              <span class="amount">EGP 50.00</span>
              <span class="off">OFF</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="limited-overlay-title">Vanam Top Sale 35<span>%</span></h2>
    <div class="limited-overlay-img"><img src="assets/img/images/limited_offer_img.png" data-src="assets/img/images/limited_offer_img.png" alt=""></div>
  </section>
  <!-- limited-offer-area-end -->

</main>
<!-- main-area-end -->
