<!-- main-area -->
<main>
  <!-- slider-area -->
  <section class="third-slider-area" style="background-image: url(assets/img/slider/slider_bg.jpg);">
    <div class="custom-container-two">
      <div class="row">
        <div class="col-12">
          <div class="slider-active">

            <div class="single-slider slider-bg" *ngFor="let slide of slider" style="background-image: url({{imgPrefix+slide.slider_img}});" >
              <div class="slider-content">
                <h5 data-animation="fadeInUp" data-delay=".3s">{{slide.title}} !</h5>
                <h2 data-animation="fadeInUp" data-delay=".6s">{{slide.description}}<span></span></h2>
                <p data-animation="fadeInUp" data-delay=".9s">Get up to <span>50%</span> off Today Only</p>
                <a href="shop-left-sidebar.html" class="btn yellow-btn" data-animation="fadeInUp" data-delay="1s">Shop Now</a>
              </div>

              <!-- <div class="slider-img" data-animation="fadeInRight" data-delay="1.2s">
                <img src="assets/img/slider/t_slider_img01.png" alt="">
              </div> -->
            
            </div>
         
         
            <!-- <div class="single-slider slider-bg" data-background="assets/img/slider/t_slider_bg02.jpg">
              <div class="slider-content">
                <h5 data-animation="fadeInUp" data-delay=".3s">top deal !</h5>
                <h2 data-animation="fadeInUp" data-delay=".6s">stylish <span>headphone</span></h2>
                <p data-animation="fadeInUp" data-delay=".9s">Get up to <span>50%</span> off Today Only</p>
                <a href="shop-left-sidebar.html" class="btn yellow-btn" data-animation="fadeInUp" data-delay="1s">Shop Now</a>
              </div>
              <div class="slider-img" data-animation="fadeInRight" data-delay="1.2s">
                <img src="assets/img/slider/t_slider_img02.png" alt="">
              </div>
            </div>
           -->
          </div>
        </div>
      </div>
      <div class="row justify-content-center">

        <div class="col-xl-4 col-md-6 col-sm-10"  *ngFor="let offer of hotDeals | slice:0:3;">
          <div class="slider-bottom-product list-product-item mb-30">
            <div class="list-product-thumb">
              <a [routerLink]="['/product-details', offer.id]">
                <img [src]="imgPrefix+offer.product_thambnail" class="w-50" alt="">
              </a>
            </div>
            <div class="list-product-content p-1">
              <h6><a href="shop-details.html">{{offer.product_name_en}}</a></h6>
              <p>US $ 17.29<span> 50% off </span></p>
              <!-- <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div> -->
              <p-rating [ngModel]="offer.rate" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
            </div>  
          </div>
        </div>



        <!-- <div class="col-xl-4 col-md-6 col-sm-10">
          <div class="slider-bottom-product list-product-item mb-30">
            <div class="list-product-thumb">
              <a href="shop-details.html">
                <img src="assets/img/product/slider_bottom_product02.jpg" alt="">
              </a>
            </div>
            <div class="list-product-content">
              <h6><a href="shop-details.html">Headphone Bit 3003</a></h6>
              <p>US $ 17.29<span> 50% off </span></p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-10">
          <div class="slider-bottom-product list-product-item mb-30">
            <div class="list-product-thumb">
              <a href="shop-details.html"><img src="assets/img/product/slider_bottom_product03.jpg" alt=""></a>
            </div>
            <div class="list-product-content">
              <h6><a href="shop-details.html">Women Shoes</a></h6>
              <p>US $ 17.29<span> 50% off </span></p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- slider-area-end -->

  <!-- exclusive-collection-area -->
  <section class="exclusive-collection pt-100 pb-55">
    <div class="custom-container-two">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-60">
            <span class="sub-title">exclusive collection</span>
            <h2 class="title">best selling products</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-4 col-sm-6" *ngFor="let offer of newArrivals | slice:0:8;">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a [routerLink]="['/product-details', offer.id]">
                <img [src]="imgPrefix+offer.product_thambnail" class="w-50" alt="">
                <!-- <img class="overlay-product-thumb w-50" [src]="imgPrefix+offer.product_thambnail" alt=""> -->
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a [routerLink]="['/product-details', offer.id]">{{offer.product_name_en}}</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">${{offer.selling_price}}</del>
                <span class="new-price">$58.00</span>
              </div>
              <!-- <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div> -->
              <p-rating [ngModel]="offer.rate" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
            </div>
          </div>
        </div>


        <!-- <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a href="shop-details.html">
                <img src="assets/img/product/t_exclusive_product02.jpg" alt="">
                <img class="overlay-product-thumb" src="assets/img/product/td_product_img01.jpg" alt="">
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a href="shop-details.html">Luxury Fashion Bag</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">$69.00</del>
                <span class="new-price">$29.00</span>
              </div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a href="shop-details.html">
                <img src="assets/img/product/t_exclusive_product03.jpg" alt="">
                <img class="overlay-product-thumb" src="assets/img/product/td_product_img05.jpg" alt="">
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a href="shop-details.html">Woman Lathers Jacket</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">$69.00</del>
                <span class="new-price">$58.00</span>
              </div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a href="#">
                <img src="assets/img/product/t_exclusive_product04.jpg" alt="">
                <img class="overlay-product-thumb" src="assets/img/product/td_product_img03.jpg" alt="">
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a href="#">Men's Brand T-shirt</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">$49.00</del>
                <span class="new-price">$21.00</span>
              </div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- exclusive-collection-area-end -->

  <!-- deal-of-the-day -->
  <section class="deal-of-the-day theme-bg pt-100 pb-70">
    <div class="custom-container-two">
      <div class="row">
        <div class="custom-col-4">
          <div class="deal-of-day-banner mb-30">
            <a href="shop-left-sidebar.html"><img src="assets/img/product/deal_banner.jpg" alt=""></a>
          </div>
        </div>
        <div class="custom-col-8">
          <div class="deal-day-top">
            <div class="deal-day-title">
              <h4 class="title">Deal Of The Day</h4>
            </div>
            <div class="view-all-deal">
              <a href="shop-left-sidebar.html"><i class="flaticon-scroll"></i> View All</a>
            </div>
          </div>
          <div class="row deal-day-active">
            <div class="col-12">

              <!--<div>Some tags before</div>-->
              <owl-carousel-o [options]="dealOfTheDay">
                <ng-template carouselSlide *ngFor="let item of hotDeals">
                  <div class="most-popular-viewed-item mb-30">
                    <div class="viewed-item-top">
                      <div class="most--popular--item--thumb mb-20">
                        <a [routerLink]="['/product-details', item.id ]">
                          <img data-src="{{ imgPrefix + item.product_thambnail }}" [src]="imgPrefix + item.product_thambnail" [alt]="item.product_name_en">
                        </a>
                      </div>
                      <div class="super-deal-content">
                        <h6><a [routerLink]="['/product-details', item.id]">{{ item.product_name_en }}</a></h6>
                        <p>EGP {{ item.discount_price}}<span>"{{" 50% off "}}"</span></p>
                      </div>
                    </div>
                    <div class="viewed-item-bottom">
                      <ul>
                        <!-- <li>Total Sold : 25</li>                 numbers of sold items -->
                        <li>Stocks : {{ item.product_qty }}</li>
                      </ul>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100"></div>
                      </div>
                      <div class="viewed-offer-time">
                        <p><span>Hurry Up</span> Limited Time Offer</p>
                        <div class="coming-time" data-countdown="2020/9/20"></div>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <!--                <ng-template carouselSlide>-->
                <!--                  <div class="most-popular-viewed-item mb-30">-->
                <!--                    <div class="viewed-item-top">-->
                <!--                      <div class="most&#45;&#45;popular&#45;&#45;item&#45;&#45;thumb mb-20">-->
                <!--                        <a href="shop-details.html"><img data-src="assets/img/product/most_popular_02.jpg" src="assets/img/product/most_popular_02.jpg" alt=""></a>-->
                <!--                      </div>-->
                <!--                      <div class="super-deal-content">-->
                <!--                        <h6><a href="shop-details.html">Stylish Smart Watch</a></h6>-->
                <!--                        <p>US $ 17.00<span>"{{" 50% off "}}"</span></p>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                    <div class="viewed-item-bottom">-->
                <!--                      <ul>-->
                <!--                        <li>Total Sold : 35</li>-->
                <!--                        <li>Stocks : 3456</li>-->
                <!--                      </ul>-->
                <!--                      <div class="progress">-->
                <!--                        <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0"-->
                <!--                             aria-valuemax="100"></div>-->
                <!--                      </div>-->
                <!--                      <div class="viewed-offer-time">-->
                <!--                        <p><span>Hurry Up</span> Limited Time Offer</p>-->
                <!--                        <div class="coming-time" data-countdown="2020/9/15"></div>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </ng-template>-->
                <!--                <ng-template carouselSlide>-->
                <!--                  <div class="most-popular-viewed-item mb-30">-->
                <!--                    <div class="viewed-item-top">-->
                <!--                      <div class="most&#45;&#45;popular&#45;&#45;item&#45;&#45;thumb mb-20">-->
                <!--                        <a href="shop-details.html"><img data-src="assets/img/product/most_popular_03.jpg" src="assets/img/product/most_popular_03.jpg" alt=""></a>-->
                <!--                      </div>-->
                <!--                      <div class="super-deal-content">-->
                <!--                        <h6><a href="shop-details.html">Fashion Party Dress</a></h6>-->
                <!--                        <p>US $ 17.00<span>"{{" 50% off "}}"</span></p>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                    <div class="viewed-item-bottom">-->
                <!--                      <ul>-->
                <!--                        <li>Total Sold : 35</li>-->
                <!--                        <li>Stocks : 3456</li>-->
                <!--                      </ul>-->
                <!--                      <div class="progress">-->
                <!--                        <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="35" aria-valuemin="0"-->
                <!--                             aria-valuemax="100"></div>-->
                <!--                      </div>-->
                <!--                      <div class="viewed-offer-time">-->
                <!--                        <p><span>Hurry Up</span> Limited Time Offer</p>-->
                <!--                        <div class="coming-time" data-countdown="2020/9/11"></div>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </ng-template>-->
                <!--                <ng-template carouselSlide>-->
                <!--                  <div class="most-popular-viewed-item mb-30">-->
                <!--                    <div class="viewed-item-top">-->
                <!--                      <div class="most&#45;&#45;popular&#45;&#45;item&#45;&#45;thumb mb-20">-->
                <!--                        <a href="shop-details.html"><img data-src="assets/img/product/most_popular_01.jpg"  src="assets/img/product/most_popular_01.jpg" alt=""></a>-->
                <!--                      </div>-->
                <!--                      <div class="super-deal-content">-->
                <!--                        <h6><a href="shop-details.html">Vacuum Fashion Bag</a></h6>-->
                <!--                        <p>US $ 31.00<span>"{{" 50% off "}}"</span></p>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                    <div class="viewed-item-bottom">-->
                <!--                      <ul>-->
                <!--                        <li>Total Sold : 35</li>-->
                <!--                        <li>Stocks : 3456</li>-->
                <!--                      </ul>-->
                <!--                      <div class="progress">-->
                <!--                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="35" aria-valuemin="0"-->
                <!--                             aria-valuemax="100"></div>-->
                <!--                      </div>-->
                <!--                      <div class="viewed-offer-time">-->
                <!--                        <p><span>Hurry Up</span> Limited Time Offer</p>-->
                <!--                        <div class="coming-time" data-countdown="2020/9/9"></div>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </ng-template>-->
                <!--                <ng-template carouselSlide>-->
                <!--                  <div class="most-popular-viewed-item mb-30">-->
                <!--                    <div class="viewed-item-top">-->
                <!--                      <div class="most&#45;&#45;popular&#45;&#45;item&#45;&#45;thumb mb-20">-->
                <!--                        <a href="shop-details.html"><img data-src="" src="assets/img/product/most_popular_02.jpg" alt=""></a>-->
                <!--                      </div>-->
                <!--                      <div class="super-deal-content">-->
                <!--                        <h6><a href="shop-details.html">Stylish Smart Watch</a></h6>-->
                <!--                        <p>US $ 17.00<span>"{{" 50% off "}}"</span></p>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                    <div class="viewed-item-bottom">-->
                <!--                      <ul>-->
                <!--                        <li>Total Sold : 35</li>-->
                <!--                        <li>Stocks : 3456</li>-->
                <!--                      </ul>-->
                <!--                      <div class="progress">-->
                <!--                        <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0"-->
                <!--                             aria-valuemax="100"></div>-->
                <!--                      </div>-->
                <!--                      <div class="viewed-offer-time">-->
                <!--                        <p><span>Hurry Up</span> Limited Time Offer</p>-->
                <!--                        <div class="coming-time" data-countdown="2020/9/15"></div>-->
                <!--                      </div>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </ng-template>-->
              </owl-carousel-o>
              <!--              <div>Some tags after</div>-->
            </div>
            <!--            <div class="col-xl-3">-->

            <!--            </div>-->
            <!--            <div class="col-xl-3">-->

            <!--            </div>-->
            <!--            <div class="col-xl-3">-->

            <!--            </div>-->
            <!--            <div class="col-xl-3">-->

            <!--            </div>-->
            <!--            <div class="col-xl-3">-->

            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- deal-of-the-day-end -->

  <!-- top-cat-banner -->
  <div class="top--cat--banner--area pt-80">
    <div class="custom-container-two">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-6">
          <div class="top-cat-banner-item yellow mt-20">
            <a href="shop-left-sidebar.html"><img src="assets/img/images/top_cat_banner04.jpg" alt=""></a>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <div class="top-cat-banner-item dark-gray mt-20">
                <a href="shop-left-sidebar.html"><img src="assets/img/images/top_cat_banner05.jpg" alt=""></a>
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <div class="top-cat-banner-item lite-red mt-20">
                <a href="shop-left-sidebar.html"><img src="assets/img/images/top_cat_banner06.jpg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- top-cat-banner-end -->

  <!-- trending-this-week -->
  <section class="trending-this-week-area pt-100 pb-55">
    <div class="custom-container-two">
      <div class="row">
        <div class="col-12">
          <div class="deal-day-top">
            <div class="deal-day-title">
              <h4 class="title">Trending This Week</h4>
            </div>
            <div class="view-all-deal">
              <a href="shop-left-sidebar.html"><i class="flaticon-scroll"></i> View All</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-4 col-sm-6" *ngFor="let offer of bestSeller | slice:6:10;">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a href="shop-details.html">
                <img [src]="imgPrefix+offer.product_thambnail" class="w-50" alt="">
                <!-- <img class="overlay-product-thumb" [src]="imgPrefix+offer.product_thambnail" alt=""> -->
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a href="shop-details.html">{{offer.product_name_en}}</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">${{offer.selling_price}}</del>
                <span class="new-price">$58.00</span>
              </div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a href="shop-details.html">
                <img src="assets/img/product/td_product_img02.jpg" alt="">
                <img class="overlay-product-thumb" src="assets/img/product/td_product_img05.jpg" alt="">
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a href="shop-details.html">Luxury Fashion Bag</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">$69.00</del>
                <span class="new-price">$29.00</span>
              </div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a href="shop-details.html">
                <img src="assets/img/product/td_product_img03.jpg" alt="">
                <img class="overlay-product-thumb" src="assets/img/product/t_exclusive_product04.jpg" alt="">
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a href="shop-details.html">Men's Lathers Jacket</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">$69.00</del>
                <span class="new-price">$58.00</span>
              </div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="exclusive-item exclusive-item-three text-center mb-40">
            <div class="exclusive-item-thumb">
              <a href="shop-details.html">
                <img src="assets/img/product/td_product_img04.jpg" alt="">
                <img class="overlay-product-thumb" src="assets/img/product/td_product_img05.jpg" alt="">
              </a>
              <ul class="action">
                <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                <li><a href="#"><i class="flaticon-witness"></i></a></li>
              </ul>
            </div>
            <div class="exclusive-item-content">
              <h5><a href="shop-details.html">Women Brand T-shirt</a></h5>
              <div class="exclusive--item--price">
                <del class="old-price">$49.00</del>
                <span class="new-price">$21.00</span>
              </div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div> -->


      </div>
    </div>
  </section>
  <!-- trending-this-week-end -->

  <!-- bs-cat-area -->
  <section class="bs-cat-area theme-bg pt-100 pb-70">
    <div class="custom-container-two">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-60">
            <span class="sub-title">exclusive collection</span>
            <h2 class="title">best selling category</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="deal-of-day-banner mb-30">
            <a href="shop-left-sidebar.html"><img src="assets/img/product/bsc_add_banner.jpg" alt=""></a>
          </div>
        </div>
        <div class="col-xl-8 col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="bs-cat-box mb-30">
                <div class="bs-cat-thumb">
                  <a href="shop-left-sidebar.html"><img src="assets/img/product/bs_cat01.png" alt=""></a>
                </div>
                <div class="bs-cat-list">
                  <ul>
                    <li class="title">Home Electronics</li>
                    <li><a href="shop-left-sidebar.html">Smart UHD TV</a></li>
                    <li><a href="shop-left-sidebar.html">Micro Oven</a></li>
                    <li><a href="shop-left-sidebar.html">Snow Frost in Freezer</a></li>
                    <li><a href="shop-left-sidebar.html">Toaster Oven</a></li>
                  </ul>
                </div>
                <a href="shop-left-sidebar.html" class="view-all">View All</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="bs-cat-box mb-30">
                <div class="bs-cat-thumb">
                  <a href="shop-left-sidebar.html"><img src="assets/img/product/bs_cat02.png" alt=""></a>
                </div>
                <div class="bs-cat-list">
                  <ul>
                    <li class="title">Clothing & Accessories</li>
                    <li><a href="shop-left-sidebar.html">Women Fashion Dress</a></li>
                    <li><a href="shop-left-sidebar.html">Baby Clothing</a></li>
                    <li><a href="shop-left-sidebar.html">Snow Frost in Freezer</a></li>
                    <li><a href="shop-left-sidebar.html">Toaster Oven</a></li>
                  </ul>
                </div>
                <a href="shop-left-sidebar.html" class="view-all">View All</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="bs-cat-box mb-30">
                <div class="bs-cat-thumb">
                  <a href="shop-left-sidebar.html"><img src="assets/img/product/bs_cat03.png" alt=""></a>
                </div>
                <div class="bs-cat-list">
                  <ul>
                    <li class="title">Kitchen Accessories</li>
                    <li><a href="shop-left-sidebar.html">Smart UHD TV</a></li>
                    <li><a href="shop-left-sidebar.html">Micro Oven</a></li>
                    <li><a href="shop-left-sidebar.html">Snow Frost in Freezer</a></li>
                    <li><a href="shop-left-sidebar.html">Toaster Oven</a></li>
                  </ul>
                </div>
                <a href="shop-left-sidebar.html" class="view-all">View All</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="bs-cat-box mb-30">
                <div class="bs-cat-thumb">
                  <a href="shop-left-sidebar.html"><img src="assets/img/product/bs_cat04.png" alt=""></a>
                </div>
                <div class="bs-cat-list">
                  <ul>
                    <li class="title">Home Kids Toys</li>
                    <li><a href="shop-left-sidebar.html">Smart UHD TV</a></li>
                    <li><a href="shop-left-sidebar.html">Micro Oven</a></li>
                    <li><a href="shop-left-sidebar.html">Snow Frost in Freezer</a></li>
                    <li><a href="shop-left-sidebar.html">Toaster Oven</a></li>
                  </ul>
                </div>
                <a href="shop-left-sidebar.html" class="view-all">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- bs-cat-area-end -->

  <!-- testimonial-area -->
  <section class="testimonial-area pt-100 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-60">
            <span class="sub-title">Our testimonial</span>
            <h2 class="title">happy customer quotes</h2>
          </div>
        </div>
      </div>
      <div class="row testimonial-active">
        <div class="col-12">
          <!--          <div>Some tags before</div>-->
          <owl-carousel-o [options]="testimonial">
            <ng-template carouselSlide>
              <div class="testimonial-item text-center">
                <div class="testi-avatar-img mb-20 mx-auto w-25">
                  <img src="assets/img/images/testi_avatar01.png" alt="">
                </div>
                <div class="testi-avatar-info">
                  <h5>Emma Watson</h5>
                  <span>CEO of <strong>Amazon</strong></span>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <div class="testi-content">
                  <p>“ In promotion and advertising, a testimonial show consists of a person's written spoken statement extolling the virtue
                    of a product ”</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-item text-center">
                <div class="testi-avatar-img mb-20 mx-auto w-25">
                  <img src="assets/img/images/testi_avatar02.png" alt="">
                </div>
                <div class="testi-avatar-info">
                  <h5>Janet Jackson</h5>
                  <span>CEO of <strong>Amazon</strong></span>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <div class="testi-content">
                  <p>“ In promotion and advertising, a testimonial show consists of a person's written spoken statement extolling the virtue
                    of a product ”</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-item text-center">
                <div class="testi-avatar-img mb-20 mx-auto w-25">
                  <img src="assets/img/images/testi_avatar03.png" alt="">
                </div>
                <div class="testi-avatar-info">
                  <h5>Anddy Willam</h5>
                  <span>CEO of <strong>Amazon</strong></span>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <div class="testi-content">
                  <p>“ In promotion and advertising, a testimonial show consists of a person's written spoken statement extolling the virtue
                    of a product ”</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-item text-center">
                <div class="testi-avatar-img mb-20 mx-auto w-25">
                  <img src="assets/img/images/testi_avatar04.png" alt="">
                </div>
                <div class="testi-avatar-info">
                  <h5>Emma Watson</h5>
                  <span>CEO of <strong>Amazon</strong></span>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <div class="testi-content">
                  <p>“ In promotion and advertising, a testimonial show consists of a person's written spoken statement extolling the virtue
                    of a product ”</p>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
          <!--          <div>Some tags after</div>-->
        </div>
        <!--        <div class="col-xl-4">-->
        <!--          -->
        <!--        </div>-->
        <!--        <div class="col-xl-4">-->
        <!--          -->
        <!--        </div>-->
        <!--        <div class="col-xl-4">-->
        <!--          -->
        <!--        </div>-->
        <!--        <div class="col-xl-4">-->

        <!--        </div>-->
      </div>
    </div>
  </section>
  <!-- testimonial-area-end -->

  <!-- core-features -->
  <section class="core-features-area core-features-style-two">
    <div class="container">
      <div class="core-features-border">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features01.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Free Shipping On Over $ 50</h6>
                <span>Agricultural mean crops livestock</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features02.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Membership Discount</h6>
                <span>Only MemberAgricultural livestock</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features03.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Money Return</h6>
                <span>30 days money back guarantee</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features04.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Online Support</h6>
                <span>30 days money back guarantee</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- core-features-end -->


</main>
<!-- main-area-end -->
<button class="scroll-top scroll-to-target open" data-target="html">
  <i class="fas fa-angle-up"></i>
</button>