header {

    overflow-y: hidden !important;
}

.header-category .category-menu {
    visibility: visible;
    opacity: 1;
    transform: none;
display: none;

}

.header-top-left ul select
{
    border: none;
    cursor: pointer;
}