<!-- main-area -->
<main>

  <!-- breadcrumb-area -->
  <section class="breadcrumb-area breadcrumb-bg" data-background="assets/img/bg/breadcrumb_bg.jpg"
    style="background-image: url('assets/img/bg/breadcrumb_bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb-content text-center">
            <h2>Smart Shop</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shop</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- shop-area -->
  <div class="shop-area gray-bg pt-100 pb-100">
    <div class="custom-container-two">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 order-2 order-lg-0">
          <aside class="shop-sidebar">
            <div class="widget shop-widget mb-30">
              <div class="shop-widget-title">
                <h6 class="title">Product Categories</h6>
              </div>
              <div class="shop-cat-list">
                <ul>
                  <li><a href="#">Accessories</a><span>27</span></li>
                  <li><a href="#">Leather Jacket</a><span>12</span></li>
                  <li><a href="#">Woman Hoodies</a><span>6</span></li>
                  <li><a href="#">Man Shoes</a><span>7</span></li>
                  <li><a href="#">Baby Troys</a><span>9</span></li>
                  <li><a href="#">Kitchen Accessories</a><span>16</span></li>
                </ul>
              </div>
            </div>
            <div class="widget shop-widget mb-30">
              <div class="shop-widget-title">
                <h6 class="title">Filter By Price</h6>
              </div>
              <div class="price_filter">
                <div id="slider-range"></div>
                <div class="price_slider_amount">
                  <span>Price :</span>
                  <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                </div>
              </div>
            </div>
            <div class="widget shop-widget mb-30">
              <div class="shop-widget-title">
                <h6 class="title">NEW PRODUCT</h6>
                <div class="slider-nav"></div>
              </div>
              <div class="sidebar-product-active">
                <div class="sidebar-product-list">
                  <ul>
                    <li>
                      <div class="sidebar-product-thumb">
                        <a href="shop-details.html"><img src="assets/img/product/sidebar_product01.jpg" alt=""></a>
                      </div>
                      <div class="sidebar-product-content">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <h5><a href="shop-details.html">Slim Fit Cotton</a></h5>
                        <span>$ 39.00</span>
                      </div>
                    </li>
                    <li>
                      <div class="sidebar-product-thumb">
                        <a href="shop-details.html"><img src="assets/img/product/sidebar_product02.jpg" alt=""></a>
                      </div>
                      <div class="sidebar-product-content">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <h5><a href="shop-details.html">Slim Fit Cotton</a></h5>
                        <span>$ 39.00</span>
                      </div>
                    </li>
                    <li>
                      <div class="sidebar-product-thumb">
                        <a href="shop-details.html"><img src="assets/img/product/sidebar_product03.jpg" alt=""></a>
                      </div>
                      <div class="sidebar-product-content">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <h5><a href="shop-details.html">Slim Fit Cotton</a></h5>
                        <span>$ 39.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="sidebar-product-list">
                  <ul>
                    <li>
                      <div class="sidebar-product-thumb">
                        <a href="shop-details.html"><img src="assets/img/product/sidebar_product01.jpg" alt=""></a>
                      </div>
                      <div class="sidebar-product-content">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <h5><a href="shop-details.html">Slim Fit Cotton</a></h5>
                        <span>$ 39.00</span>
                      </div>
                    </li>
                    <li>
                      <div class="sidebar-product-thumb">
                        <a href="shop-details.html"><img src="assets/img/product/sidebar_product02.jpg" alt=""></a>
                      </div>
                      <div class="sidebar-product-content">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <h5><a href="shop-details.html">Slim Fit Cotton</a></h5>
                        <span>$ 39.00</span>
                      </div>
                    </li>
                    <li>
                      <div class="sidebar-product-thumb">
                        <a href="shop-details.html"><img src="assets/img/product/sidebar_product03.jpg" alt=""></a>
                      </div>
                      <div class="sidebar-product-content">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <h5><a href="shop-details.html">Slim Fit Cotton</a></h5>
                        <span>$ 39.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="widget shop-widget mb-30">
              <div class="shop-widget-title">
                <h6 class="title">Product Brand</h6>
              </div>
              <div class="sidebar-brand-list">
                <ul>
                  <li><a href="#">New Arrivals</a></li>
                  <li><a href="#">Clothing & Accessories</a></li>
                  <li><a href="#">Vanam Jacket</a></li>
                  <li><a href="#">Home Electronics</a></li>
                </ul>
              </div>
              <div class="shop-sidebar-size">
                <div class="shop-widget-title">
                  <h6 class="title">Size</h6>
                </div>
                <div class="shop-size-list">
                  <ul>
                    <li><a href="#">S</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">XL</a></li>
                  </ul>
                </div>
              </div>
              <div class="shop-sidebar-color">
                <div class="shop-widget-title">
                  <h6 class="title">Filter Color</h6>
                </div>
                <div class="shop-size-list">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="widget">
              <div class="shop-widget-banner special-offer-banner">
                <a href="shop-left-sidebar.html"><img src="assets/img/product/sidebar_banner_ad.jpg" alt=""></a>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-xl-9 col-lg-8">
          <!-- <div class="shop-top-meta mb-40">
            <p class="show-result">Showing Products 1-12 Of 10 Result</p>
            <div class="shop-meta-right">
              <ul>
                <li class="active"><a href="#"><i class="flaticon-grid"></i></a></li>
                <li><a href="#"><i class="flaticon-list"></i></a></li>
              </ul>
              <form action="#">
                <select class="custom-select">
                  <option selected="">Default Sorting</option>
                  <option>Free Shipping</option>
                  <option>Best Match</option>
                  <option>Newest Item</option>
                  <option>Size A - Z</option>
                </select>
              </form>
            </div>
          <div class="row">-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product01.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/td_product_img01.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Fashion Tops Juniors</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product02.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/td_product_img04.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Fashion Tops Juniors</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/td_product_img03.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/t_exclusive_product04.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Men Casual Blazer</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product05.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/td_product_img04.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Woman Lathers Jacket</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product06.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/td_product_img01.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Fashion Tops Juniors</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product07.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/td_product_img03.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Men Casual Blazer</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product08.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/td_product_img02.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Bikinis Women Casual</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product09.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/td_product_img01.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Woman Lathers Jacket</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product10.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/t_exclusive_product06.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Fashion Tops Juniors</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product11.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/t_exclusive_product01.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Fashion Tops Juniors</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product12.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/t_exclusive_product02.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Fashion Tops Juniors</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">-->
<!--              <div class="exclusive-item exclusive-item-three text-center mb-50">-->
<!--                <div class="exclusive-item-thumb">-->
<!--                  <a href="shop-details.html">-->
<!--                    <img src="assets/img/product/t_exclusive_product13.jpg" alt="">-->
<!--                    <img class="overlay-product-thumb" src="assets/img/product/t_exclusive_product06.jpg" alt="">-->
<!--                  </a>-->
<!--                  <ul class="action">-->
<!--                    <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-supermarket"></i></a></li>-->
<!--                    <li><a href="#"><i class="flaticon-witness"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="exclusive-item-content">-->
<!--                  <h5><a href="shop-details.html">Woman Lathers Jacket</a></h5>-->
<!--                  <div class="exclusive&#45;&#45;item&#45;&#45;price">-->
<!--                    <del class="old-price">$69.00</del>-->
<!--                    <span class="new-price">$58.00</span>-->
<!--                  </div>-->
<!--                  <div class="rating">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="pagination-wrap">-->
<!--            <ul>-->
<!--              <li class="prev"><a href="#"><i class="fas fa-long-arrow-alt-left"></i> Prev</a></li>-->
<!--              <li><a href="#">1</a></li>-->
<!--              <li class="active"><a href="#">2</a></li>-->
<!--              <li><a href="#">3</a></li>-->
<!--              <li><a href="#">4</a></li>-->
<!--              <li><a href="#">...</a></li>-->
<!--              <li><a href="#">10</a></li>-->
<!--              <li class="next"><a href="#">Next <i class="fas fa-long-arrow-alt-right"></i></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          test-->
          <div class="card">
            <p-dataView #dv [value]="allProducts" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
            [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
              <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"
                  styleClass="mb-2 md:mb-0"></p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
                  <input class="text-center ml-1" type="search" pInputText placeholder="Search by Name">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              </div>
            </ng-template>

            <ng-template let-item pTemplate="listItem">
              <div class="col-12 my-3">
                <div class="product-list-item shadow d-flex justify-content-between">
                  <div class="item-image w-25">
                    <img [src]="imgPrefix + item.product_thambnail" [alt]="item.product_name_en"
                      class="img-fluid w-75" />
                  </div>
                  <div class="product-list-detail w-75 py-4">
                    <div class="product-name">
                      <h5>
                        <a [routerLink]="['/product-details', item.id]">
                          {{item.product_name_en}}
                        </a>


                      </h5>
                    </div>
                    <div class="product-description">
                      <p>{{item.short_descp_en}}</p>
                    </div>
                    <p-rating [ngModel]="item.rating" [readonly]="true" [cancel]="false"></p-rating>
                    <h6> <i class="pi pi-tag product-category-icon"></i>
                      <span class="product-category">
                        {{item.brand.brand_name_en}}
                      </span>
                    </h6>
                    <div class="exclusive-item-content">
                      <div class="exclusive--item--price" *ngIf="item.special_item == true">
                        <del class="old-price">EGP {{ item.selling_price }}</del>
                        <span class="new-price">EGP {{ item.discount_price }}</span>
                      </div>
                      <div class="exclusive--item--price" *ngIf="item.special_item != true">
                        <span class="new-price">EGP {{ item.selling_price }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-action">
                    <!-- <span class="product-price">${{item.selling_price}}</span> -->


                    <!-- <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button> -->
                    <!--                      <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template let-item pTemplate="gridItem">
              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6 p-3 d-inline-block">
                <div class="exclusive-item exclusive-item-three text-center mb-50 rounded">
                  <div class="exclusive-item-thumb">
                    <a [routerLink]="['/product-details', item.id]">
                      <img [src]="imgPrefix + item.product_thambnail" [alt]="item.product_name_en" class="img-fluid">
                      <!--                        <img class="overlay-product-thumb" src="assets/img/product/td_product_img04.jpg" alt="">-->
                    </a>
                    <ul class="action">
                      <li><a href="#"><i class="flaticon-shuffle-1"></i></a></li>
                      <li><a href="#"><i class="flaticon-supermarket"></i></a></li>
                      <li><a href="#"><i class="flaticon-witness"></i></a></li>
                    </ul>
                  </div>
                  <div class="exclusive-item-content">
                    <h5><a [routerLink]="['/product-details', item.id]">{{ item.product_name_en }}</a></h5>
                    <div class="exclusive--item--price" *ngIf="item.special_item == true">
                      <del class="old-price">EGP {{ item.selling_price }}</del>
                      <span class="new-price">EGP {{ item.discount_price }}</span>
                    </div>
                    <div class="exclusive--item--price" *ngIf="item.special_item != true">
                      <span class="new-price">EGP {{ item.selling_price }}</span>
                    </div>
                    <p-rating [ngModel]="item.rate" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                    <!-- <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div> -->
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>

        <!--          test-->
      </div>
    </div>
  </div>
</div>
<!-- shop-area-end -->


</main>
<!-- main-area-end -->