<main>

  <!-- slider-area -->
  <section class="slider-area">
    <div class="slider-active">
      <div class="single-slider slider-bg" data-background="assets/img/slider/slider_bg.jpg">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 order-0 order-lg-2">
              <div class="slider-img" data-animation="fadeInRight" data-delay="1.2s">
                <img src="assets/img/slider/slider_img01.png" alt="">
              </div>
            </div>
            <div class="col-xl-7 col-lg-6">
              <div class="slider-content">
                <h5 data-animation="fadeInUp" data-delay=".3s">best deal !</h5>
                <h2 data-animation="fadeInUp" data-delay=".6s">Smart Watch Bracelet</h2>
                <p data-animation="fadeInUp" data-delay=".9s">Get up to <span>50%</span> off Today Only</p>
                <a href="shop-left-sidebar.html" class="btn" data-animation="fadeInUp" data-delay="1s">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-slider slider-bg" data-background="assets/img/slider/slider_bg.jpg">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 order-0 order-lg-2">
              <div class="slider-img" data-animation="fadeInRight" data-delay="1.2s">
                <img src="assets/img/slider/slider_img02.png" alt="">
              </div>
            </div>
            <div class="col-xl-7 col-lg-6">
              <div class="slider-content">
                <h5 data-animation="fadeInUp" data-delay=".3s">best deal !</h5>
                <h2 data-animation="fadeInUp" data-delay=".6s">Smart TV Bracelet</h2>
                <p data-animation="fadeInUp" data-delay=".9s">Get up to <span>50%</span> off Today Only</p>
                <a href="shop-left-sidebar.html" class="btn" data-animation="fadeInUp" data-delay="1s">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- slider-area-end -->

  <!-- super-deal-area -->
  <section class="super-deal-area pb-40">
    <div class="container">
      <div class="super-deal-top">
        <div class="row align-items-center justify-content-end">
          <div class="col-xl-8 col-lg-10">
            <div class="super-deal-title">
              <h3>Super Deals <span>End in</span></h3>
              <div class="coming-time" data-countdown="2020/9/20"></div>
            </div>
          </div>
          <div class="col-lg-2 d-none d-lg-block">
            <div class="view-more text-right pr-20">
              <a href="#"><span>View More</span><i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <span class="sd-meta">New!</span>
              <a href="shop-details.html"><img src="assets/img/product/sd_item01.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Modem WiFi Router</a></h6>
              <p>US $ 17.29<span> 50% off </span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <a href="shop-details.html"><img src="assets/img/product/sd_item02.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Vacuum Cleaner</a></h6>
              <p>US $ 02.29<span> 50% off </span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <a href="shop-details.html"><img src="assets/img/product/sd_item03.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Vacuum Cleaner</a></h6>
              <p>US $ 18.99<span> 50% off </span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <span class="sd-meta">New!</span>
              <a href="shop-details.html"><img src="assets/img/product/sd_item04.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Discover CC Camera</a></h6>
              <p>US $ 49.00<span> 50% off </span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <span class="sd-meta">New!</span>
              <a href="shop-details.html"><img src="assets/img/product/sd_item05.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Vacuum Cleaner</a></h6>
              <p>US $ 49.00<span> 50% off </span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <a href="shop-details.html"><img src="assets/img/product/sd_item06.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Discover CC Camera</a></h6>
              <p>US $ 49.00<span> 50% off </span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <span class="sd-meta">New!</span>
              <a href="shop-details.html"><img src="assets/img/product/sd_item07.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Vacuum Cleaner</a></h6>
              <p>US $ 49.00<span> 50% off </span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="super-deals-item text-center mb-55">
            <div class="super-deal-thumb mb-25">
              <span class="sd-meta">New!</span>
              <a href="shop-details.html"><img src="assets/img/product/sd_item08.png" alt=""></a>
            </div>
            <div class="super-deal-content">
              <h6><a href="shop-details.html">Xbox Series x</a></h6>
              <p>US $ 49.00<span> 50% off </span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- super-deal-area-end -->

  <!-- core-features -->
  <section class="core-features-area">
    <div class="container">
      <div class="core-features-border">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features01.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Free Shipping On Over $ 50</h6>
                <span>Agricultural mean crops livestock</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features02.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Membership Discount</h6>
                <span>Only MemberAgricultural livestock</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features03.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Money Return</h6>
                <span>30 days money back guarantee</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="core-features-item mb-50">
              <div class="core-features-icon">
                <img src="assets/img/icon/core_features04.png" alt="">
              </div>
              <div class="core-features-content">
                <h6>Online Support</h6>
                <span>30 days money back guarantee</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- core-features-end -->

  <!-- special-offer-area -->
  <section class="special-offer-area theme-bg pt-100 pb-70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-70">
            <span class="sub-title">Special Offer</span>
            <h2 class="title">TOP COLLECTION 2020</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-container">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-5 col-md-6">
          <div class="special-offer-item-box">
            <div class="special-single-item">
              <div class="special-single-item-thumb">
                <a href="shop-details.html"><img src="assets/img/product/special_item_img01.png" alt=""></a>
              </div>
              <div class="special-single-item-content">
                <h5><a href="shop-details.html">White Smart Watch</a></h5>
                <p>US $ 17.99<span> 50% off </span></p>
                <div class="product-color"><span class="coffee"></span><span class="yellow"></span></div>
              </div>
            </div>
          </div>
          <div class="special-offer-item-box">
            <div class="special-single-item">
              <div class="special-single-item-thumb">
                <a href="shop-details.html"><img src="assets/img/product/special_item_img02.png" alt=""></a>
              </div>
              <div class="special-single-item-content">
                <h5><a href="shop-details.html">Bluetooth Headphone</a></h5>
                <p>US $ 17.99<span> 50% off </span></p>
                <div class="product-color"><span class="black"></span><span class="red"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-5 col-md-6">
          <div class="special-offer-item-box">
            <div class="special--cat--item--wrap">
              <div class="special-offer-title mb-35">
                <h4 class="title">Clothing Shop</h4>
                <div class="view-more">
                  <a href="shop-left-sidebar.html"><i class="fas fa-angle-right"></i></a>
                </div>
              </div>
              <ul class="special--cat--list">
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/clothing_item01.jpg" alt="">
                    <span class="tag" data-background="assets/img/images/tag_bg.png">New!</span>
                    <span class="special--cat--name">Woman Fashion</span>
                  </a>
                </li>
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/clothing_item02.jpg" alt="">
                    <span class="special--cat--name">Man Fashion</span>
                  </a>
                </li>
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/clothing_item03.jpg" alt="">
                    <span class="special--cat--name">Cloth Toys</span>
                  </a>
                </li>
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/clothing_item04.jpg" alt="">
                    <span class="special--cat--name">Baby Clothing</span>
                  </a>
                </li>
              </ul>
              <a href="shop-left-sidebar.html" class="shop-now">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-5 col-md-6">
          <div class="special-offer-item-box">
            <div class="special--cat--item--wrap">
              <div class="special-offer-title mb-35">
                <h4 class="title">Super Deals</h4>
                <div class="view-more">
                  <a href="shop-left-sidebar.html"><i class="fas fa-angle-right"></i></a>
                </div>
              </div>
              <ul class="special--cat--list">
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/super_deal_item01.jpg" alt="">
                    <span class="tag" data-background="img/images/tag_bg.png">New!</span>
                    <span class="special--cat--name">Discover Xbox</span>
                  </a>
                </li>
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/super_deal_item02.jpg" alt="">
                    <span class="special--cat--name">Man Fashion</span>
                  </a>
                </li>
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/super_deal_item03.jpg" alt="">
                    <span class="special--cat--name">Computer Product</span>
                  </a>
                </li>
                <li class="special--cat--item">
                  <a href="shop-left-sidebar.html">
                    <img src="assets/img/product/super_deal_item04.jpg" alt="">
                    <span class="special--cat--name">Web Camera</span>
                  </a>
                </li>
              </ul>
              <a href="shop-left-sidebar.html" class="shop-now">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-5 col-md-6">
          <div class="special-offer-item-box special-offer-banner">
            <a href="shop-left-sidebar.html"><img src="assets/img/product/special_offer_banner.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- special-offer-area-end -->

  <!-- exclusive-collection-area -->
  <section class="exclusive-collection pt-100 pb-60">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-60">
            <span class="sub-title">exclusive collection</span>
            <h2 class="title">best selling products</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
          <div class="product-menu mb-60">
            <button class="active" data-filter="*">Best Sellers</button>
            <button class="" data-filter=".cat-one">Featured</button>
            <button class="" data-filter=".cat-two">Hot Sell</button>
            <button class="" data-filter=".cat-three">Trend</button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-0">
          <div class="special-offer-banner exclusive-banner mb-40">
            <a href="shop-left-sidebar.html"><img src="assets/img/product/exclusive_banner.jpg" alt=""></a>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row exclusive-active">
            <div class="col-lg-4 col-sm-6 grid-item grid-sizer cat-two cat-three">
              <div class="exclusive-item mb-40">
                <div class="exclusive-item-thumb">
                  <a href="shop-details.html">
                    <img src="assets/img/product/exclusive_product01.jpg" alt="">
                    <img class="overlay-product-thumb" src="assets/img/product/exclusive__product01.jpg" alt="">
                  </a>
                </div>
                <div class="exclusive-item-content">
                  <div class="exclusive--content--top">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <del class="old-price">$127.00</del>
                  </div>
                  <div class="exclusive--content--bottom">
                    <h5><a href="shop-details.html">Venam Beard Trimmer</a></h5>
                    <span>$58.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three">
              <div class="exclusive-item mb-40">
                <div class="exclusive-item-thumb">
                  <a href="shop-details.html">
                    <img src="assets/img/product/exclusive_product02.jpg" alt="">
                    <img class="overlay-product-thumb" src="assets/img/product/exclusive__product02.jpg" alt="">
                  </a>
                </div>
                <div class="exclusive-item-content">
                  <div class="exclusive--content--top">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <del class="old-price">$69.00</del>
                  </div>
                  <div class="exclusive--content--bottom">
                    <h5><a href="shop-details.html">Fashion Party Dress</a></h5>
                    <span>$37.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-two">
              <div class="exclusive-item mb-40">
                <div class="exclusive-item-thumb">
                  <a href="shop-details.html">
                    <img src="assets/img/product/exclusive_product03.jpg" alt="">
                    <img class="overlay-product-thumb" src="assets/img/product/exclusive__product03.jpg" alt="">
                  </a>
                </div>
                <div class="exclusive-item-content">
                  <div class="exclusive--content--top">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <del class="old-price">$99.00</del>
                  </div>
                  <div class="exclusive--content--bottom">
                    <h5><a href="shop-details.html">Men's Casual Shoes</a></h5>
                    <span>$26.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three">
              <div class="exclusive-item mb-40">
                <div class="exclusive-item-thumb">
                  <a href="shop-details.html">
                    <img src="assets/img/product/exclusive_product04.jpg" alt="">
                    <img class="overlay-product-thumb" src="assets/img/product/exclusive__product04.jpg" alt="">
                  </a>
                </div>
                <div class="exclusive-item-content">
                  <div class="exclusive--content--top">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <del class="old-price">$129.00</del>
                  </div>
                  <div class="exclusive--content--bottom">
                    <h5><a href="shop-details.html">Stylish Smart Watch</a></h5>
                    <span>$39.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item grid-sizer cat-two cat-three">
              <div class="exclusive-item mb-40">
                <div class="exclusive-item-thumb">
                  <a href="shop-details.html">
                    <img src="assets/img/product/exclusive_product05.jpg" alt="">
                    <img class="overlay-product-thumb" src="assets/img/product/exclusive__product05.jpg" alt="">
                  </a>
                </div>
                <div class="exclusive-item-content">
                  <div class="exclusive--content--top">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <del class="old-price">$129.00</del>
                  </div>
                  <div class="exclusive--content--bottom">
                    <h5><a href="shop-details.html">Venam Beard Trimmer</a></h5>
                    <span>$39.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-two">
              <div class="exclusive-item mb-40">
                <div class="exclusive-item-thumb">
                  <a href="shop-details.html">
                    <img src="assets/img/product/exclusive_product06.jpg" alt="">
                    <img class="overlay-product-thumb" src="assets/img/product/exclusive__product06.jpg" alt="">
                  </a>
                </div>
                <div class="exclusive-item-content">
                  <div class="exclusive--content--top">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <del class="old-price">$129.00</del>
                  </div>
                  <div class="exclusive--content--bottom">
                    <h5><a href="shop-details.html">Venam Beard Laptop</a></h5>
                    <span>$39.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- exclusive-collection-area-end -->

  <!-- most-popular-area -->
  <section class="most-popular-area theme-bg pt-100 pb-70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-60">
            <span class="sub-title">exclusive collection</span>
            <h2 class="title">most popular Viewed</h2>
          </div>
        </div>
      </div>
      <div class="row popular-active">
        <div class="col-xl-3">
          <div class="most-popular-viewed-item mb-30">
            <div class="viewed-item-top">
              <div class="most--popular--item--thumb mb-20">
                <a href="shop-details.html"><img src="assets/img/product/most_popular_01.jpg" alt=""></a>
              </div>
              <div class="super-deal-content">
                <h6><a href="shop-details.html">Vacuum Cleaner</a></h6>
                <p>US $ 49.00<span> 50% off </span></p>
              </div>
            </div>
            <div class="viewed-item-bottom">
              <ul>
                <li>Total Sold : 25</li>
                <li>Stocks : 3456</li>
              </ul>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
              <div class="viewed-offer-time">
                <p><span>Hurry Up</span> Limited Time Offer</p>
                <div class="coming-time" data-countdown="2020/9/20"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="most-popular-viewed-item mb-30">
            <div class="viewed-item-top">
              <div class="most--popular--item--thumb mb-20">
                <a href="shop-details.html"><img src="assets/img/product/most_popular_02.jpg" alt=""></a>
              </div>
              <div class="super-deal-content">
                <h6><a href="shop-details.html">Stylish Smart Watch</a></h6>
                <p>US $ 17.00<span> 50% off </span></p>
              </div>
            </div>
            <div class="viewed-item-bottom">
              <ul>
                <li>Total Sold : 35</li>
                <li>Stocks : 3456</li>
              </ul>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
              <div class="viewed-offer-time">
                <p><span>Hurry Up</span> Limited Time Offer</p>
                <div class="coming-time" data-countdown="2020/9/15"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="most-popular-viewed-item mb-30">
            <div class="viewed-item-top">
              <div class="most--popular--item--thumb mb-20">
                <a href="shop-details.html"><img src="assets/img/product/most_popular_03.jpg" alt=""></a>
              </div>
              <div class="super-deal-content">
                <h6><a href="shop-details.html">Fashion Party Dress</a></h6>
                <p>US $ 17.00<span> 50% off </span></p>
              </div>
            </div>
            <div class="viewed-item-bottom">
              <ul>
                <li>Total Sold : 35</li>
                <li>Stocks : 3456</li>
              </ul>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="35" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
              <div class="viewed-offer-time">
                <p><span>Hurry Up</span> Limited Time Offer</p>
                <div class="coming-time" data-countdown="2020/9/11"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="most-popular-viewed-item mb-30">
            <div class="viewed-item-top">
              <div class="most--popular--item--thumb mb-20">
                <a href="shop-details.html"><img src="assets/img/product/most_popular_01.jpg" alt=""></a>
              </div>
              <div class="super-deal-content">
                <h6><a href="shop-details.html">Vacuum Fashion Bag</a></h6>
                <p>US $ 31.00<span> 50% off </span></p>
              </div>
            </div>
            <div class="viewed-item-bottom">
              <ul>
                <li>Total Sold : 35</li>
                <li>Stocks : 3456</li>
              </ul>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="35" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
              <div class="viewed-offer-time">
                <p><span>Hurry Up</span> Limited Time Offer</p>
                <div class="coming-time" data-countdown="2020/9/9"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="most-popular-viewed-item mb-30">
            <div class="viewed-item-top">
              <div class="most--popular--item--thumb mb-20">
                <a href="shop-details.html"><img src="assets/img/product/most_popular_02.jpg" alt=""></a>
              </div>
              <div class="super-deal-content">
                <h6><a href="shop-details.html">Stylish Smart Watch</a></h6>
                <p>US $ 17.00<span> 50% off </span></p>
              </div>
            </div>
            <div class="viewed-item-bottom">
              <ul>
                <li>Total Sold : 35</li>
                <li>Stocks : 3456</li>
              </ul>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
              <div class="viewed-offer-time">
                <p><span>Hurry Up</span> Limited Time Offer</p>
                <div class="coming-time" data-countdown="2020/9/15"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- most-popular-area-end -->

  <!-- blog-area -->
  <section class="blog-area pt-100 pb-40">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-60">
            <span class="sub-title">Blog & News</span>
            <h2 class="title">latest news update</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="blog-post-item text-center mb-60">
            <div class="blog-thumb mb-25">
              <a href="blog-details.html"><img src="assets/img/blog/blog_thumb01.jpg" alt=""></a>
            </div>
            <div class="blog-post-content">
              <h4><a href="blog-details.html">The Best London Fashion Week</a></h4>
              <div class="blog-post-meta">
                <ul>
                  <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                  <li><i class="far fa-calendar-alt"></i>OCTOBER 23, 2020</li>
                </ul>
              </div>
              <p>Namkand sodales vel online best prices Amazon
                Check out ethnic wear, formal wear western wear
                Blood Pressure Rate Monito.</p>
              <a class="read-more" href="blog-details.html">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-post-item text-center mb-60">
            <div class="blog-thumb mb-25">
              <a href="blog-details.html"><img src="assets/img/blog/blog_thumb02.jpg" alt=""></a>
            </div>
            <div class="blog-post-content">
              <h4><a href="blog-details.html">Find products Display Racks</a></h4>
              <div class="blog-post-meta">
                <ul>
                  <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                  <li><i class="far fa-calendar-alt"></i>OCTOBER 23, 2020</li>
                </ul>
              </div>
              <p>Namkand sodales vel online best prices Amazon
                Check out ethnic wear, formal wear western wear
                Blood Pressure Rate Monito.</p>
              <a class="read-more" href="blog-details.html">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-post-item text-center mb-60">
            <div class="blog-thumb mb-25">
              <a href="blog-details.html"><img src="assets/img/blog/blog_thumb03.jpg" alt=""></a>
            </div>
            <div class="blog-post-content">
              <h4><a href="blog-details.html">That Will Instantly Update Outfit</a></h4>
              <div class="blog-post-meta">
                <ul>
                  <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                  <li><i class="far fa-calendar-alt"></i>OCTOBER 23, 2020</li>
                </ul>
              </div>
              <p>Namkand sodales vel online best prices Amazon
                Check out ethnic wear, formal wear western wear
                Blood Pressure Rate Monito.</p>
              <a class="read-more" href="blog-details.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog-area-end -->

</main>
