

<!-- preloader  -->

<app-navbar></app-navbar>
<!-- main-area -->

<router-outlet></router-outlet>
<!-- main-area-end -->

<!-- footer-area -->
<app-footer></app-footer>
<!-- footer-area-end -->


<!-- promo-popup-area -->
<!--<div class="promo-popup">-->
<!--  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <button type="button" class="promo-close third-bg" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true"><i class="flaticon-plus-1"></i></span>-->
<!--        </button>-->
<!--        <div class="modal-body relative-position">-->
<!--          <img src="assets/img/images/popup_subs_bg.png" alt="">-->
<!--          <div class="promo-text pera-content">-->
<!--            <div class="popup-title">-->
<!--              <h6 class="sub-title">Newsletter</h6>-->
<!--              <h2 class="title">Subscribe And Get <span>35%</span> Discount!</h2>-->
<!--            </div>-->
<!--            <div class="promo-subscribe pera-content">-->
<!--              <p class="subscribe-text">Subscribe to the newsletter to receive updates about all new-->
<!--                products.</p>-->
<!--              <div class="promo-form">-->
<!--                <form action="#" method="post">-->
<!--                  <input class="email" name="email" type="email" placeholder="Email Address">-->
<!--                  <button class="btn">Subscribe</button>-->
<!--                  <div class="comment-check-box">-->
<!--                    <input type="checkbox" id="comment-check">-->
<!--                    <label for="comment-check">Don't show this popup again!</label>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--              <p class="trial-text">Get started for 1 Month free trial No <span>Purchase</span> required.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- promo-popup-area-end -->
