<!-- main-area -->
<main>

  <!-- breadcrumb-area -->
  <section class="breadcrumb-area breadcrumb-bg" data-background="assets/img/bg/breadcrumb_bg.jpg" style="background-image: url('assets/img/bg/breadcrumb_bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb-content text-center">
            <h2>standard blog</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- blog-area -->
  <section class="blog-area pt-100 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="blog-post-item s-blog-post-item">
            <div class="blog-thumb mb-25">
              <a href="blog-details.html"><img src="assets/img/blog/s_blog_thumb01.jpg" alt=""></a>
              <ul class="blog-overlay-tag">
                <li><a href="#">BEAUTY</a></li>
              </ul>
            </div>
            <div class="blog-post-content">
              <h4><a href="blog-details.html">Reasons to Wax Instead of Shaving</a></h4>
              <p>Cramond Leopard & Pythong Print Anorak Jacket In Beige but also the leap into electronic typesetting, remaining Lorem
                Ipsum is simply dummy text of the printing and typesetting industrorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley.</p>
              <div class="s-blog-post-bottom">
                <a class="read-more" href="blog-details.html">Read More_</a>
                <div class="blog-post-meta">
                  <ul>
                    <li><i class="far fa-user"></i>By <a href="#"> Tomas Alexa</a></li>
                    <li><i class="far fa-calendar-alt"></i> November 14, 2020</li>
                    <li><i class="far fa-comments"></i> 0 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-item s-blog-post-item">
            <div class="blog-thumb mb-25">
              <a href="blog-details.html"><img src="assets/img/blog/s_blog_thumb02.jpg" alt=""></a>
              <ul class="blog-overlay-tag">
                <li><a href="#">BEAUTY</a></li>
              </ul>
            </div>
            <div class="blog-post-content">
              <h4><a href="blog-details.html">Online Payment Accounts Smarter Here</a></h4>
              <p>Cramond Leopard & Pythong Print Anorak Jacket In Beige but also the leap into electronic typesetting, remaining Lorem
                Ipsum is simply dummy text of the printing and typesetting industrorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley.</p>
              <div class="s-blog-post-bottom">
                <a class="read-more" href="blog-details.html">Read More_</a>
                <div class="blog-post-meta">
                  <ul>
                    <li><i class="far fa-user"></i>By <a href="#"> Tomas Alexa</a></li>
                    <li><i class="far fa-calendar-alt"></i> November 14, 2020</li>
                    <li><i class="far fa-comments"></i> 0 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-item s-blog-post-item">
            <div class="blog-thumb mb-25">
              <a href="blog-details.html"><img src="assets/img/blog/s_blog_thumb03.jpg" alt=""></a>
              <ul class="blog-overlay-tag">
                <li><a href="#">BEAUTY</a></li>
              </ul>
            </div>
            <div class="blog-post-content">
              <h4><a href="blog-details.html">with hassle free and secure payments</a></h4>
              <p>Cramond Leopard & Pythong Print Anorak Jacket In Beige but also the leap into electronic typesetting, remaining Lorem
                Ipsum is simply dummy text of the printing and typesetting industrorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley.</p>
              <div class="s-blog-post-bottom">
                <a class="read-more" href="blog-details.html">Read More_</a>
                <div class="blog-post-meta">
                  <ul>
                    <li><i class="far fa-user"></i>By <a href="#"> Tomas Alexa</a></li>
                    <li><i class="far fa-calendar-alt"></i> November 14, 2020</li>
                    <li><i class="far fa-comments"></i> 0 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-8">
          <aside class="blog-sidebar">
            <div class="widget blog-sidebar-widget mb-50">
              <form action="#" class="sidebar-search-form">
                <input type="text" placeholder="Search...">
                <button><i class="fas fa-search"></i></button>
              </form>
            </div>
            <div class="widget blog-sidebar-widget mb-50">
              <div class="blog-sidebar-title mb-25">
                <h5>About us</h5>
              </div>
              <div class="sidebar-about-wrap">
                <div class="sidebar-about-img mb-25">
                  <img src="assets/img/blog/sidebar_about.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consec tet cing elit, sed do eiusmod tempor inc ididun.</p>
                <div class="sidebar-about-sign">
                  <img src="assets/img/blog/sidebar_sign.png" alt="">
                </div>
              </div>
            </div>
            <div class="widget blog-sidebar-widget mb-50">
              <div class="blog-sidebar-title mb-25">
                <h5>CATEGORIES POSTS</h5>
              </div>
              <div class="blog-cat-list">
                <ul>
                  <li><a href="#">Fashion</a>16</li>
                  <li><a href="#">Woman</a>17</li>
                  <li><a href="#">Lifestyle</a>08</li>
                  <li><a href="#">Creative</a>19</li>
                </ul>
              </div>
            </div>
            <div class="widget blog-sidebar-widget mb-50">
              <div class="blog-sidebar-title mb-25">
                <h5>LATEST POSTS</h5>
              </div>
              <div class="blog-rc-post">
                <ul>
                  <li>
                    <div class="rc-post-thumb">
                      <a href="blog-details.html"><img src="assets/img/blog/rc_post_thumb01.jpg" alt=""></a>
                    </div>
                    <div class="rc-post-content">
                      <h5><a href="blog-details.html">Reasons to Wax Instead
                        of Shaving</a></h5>
                      <span>November 14, 2020</span>
                    </div>
                  </li>
                  <li>
                    <div class="rc-post-thumb">
                      <a href="blog-details.html"><img src="assets/img/blog/rc_post_thumb02.jpg" alt=""></a>
                    </div>
                    <div class="rc-post-content">
                      <h5><a href="blog-details.html">with hassle free and secure payments
                        mistaken</a></h5>
                      <span>April 14, 2020</span>
                    </div>
                  </li>
                  <li>
                    <div class="rc-post-thumb">
                      <a href="blog-details.html"><img src="assets/img/blog/rc_post_thumb03.jpg" alt=""></a>
                    </div>
                    <div class="rc-post-content">
                      <h5><a href="blog-details.html">Online Payment Accounts Smarter Here</a></h5>
                      <span>march 28, 2020</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget blog-sidebar-widget mb-50">
              <div class="blog-sidebar-title mb-25">
                <h5>NEWSLETTER</h5>
              </div>
              <form action="#" class="sidebar-newsletter">
                <input type="email" placeholder="Newsletter">
                <button><i class="far fa-envelope"></i></button>
              </form>
            </div>
            <div class="widget blog-sidebar-widget mb-50">
              <div class="blog-sidebar-banner special-offer-banner">
                <a href="#"><img src="assets/img/blog/blog_sidebar_add.jpg" alt=""></a>
              </div>
            </div>
            <div class="widget blog-sidebar-widget">
              <div class="blog-sidebar-title mb-15">
                <h5>Tags Post</h5>
              </div>
              <div class="blog-sidebar-tag">
                <ul>
                  <li><a href="#">Art</a></li>
                  <li><a href="#">Branding</a></li>
                  <li><a href="#">Colors</a></li>
                  <li><a href="#">Who</a></li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Fashion</a></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- blog-area-end -->

  <!-- limited-offer-area -->
  <section class="limited-offer-area" data-background="assets/img/bg/limited_offer_bg.jpg">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-5 col-lg-6 col-md-7">
          <div class="limited-offer-left">
            <div class="limited-offer-title">
              <span class="sub-title">exclusive offer</span>
              <h2 class="title">Smart Watch Bracelet</h2>
            </div>
            <div class="limited-offer-disc">
              <img src="assets/img/images/limited_offer_discount.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="limited-offer-action">
            <a href="#" class="btn">limited time offer</a>
            <div class="amount-info">
              <span class="upto">UPTO</span>
              <span class="amount">$ 50.00</span>
              <span class="off">OFF</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="limited-overlay-title">Vanam Top Sale 35<span>%</span></h2>
    <div class="limited-overlay-img"><img src="assets/img/images/limited_offer_img.png" alt=""></div>
  </section>
  <!-- limited-offer-area-end -->

</main>
<!-- main-area-end -->
